<div class="options">
  <span class="button">Start New Test Run</span>
  <span class="button">Print Test Suite</span>
</div>

<br/><br/>

<h2>Current Results</h2>
<br/>

<h2>Previous Results</h2>
<br/>
