<% content_for :header, javascript_include_tag("jquery") %>

<div class="options">
	<a href="#" id="show_fails">Show Only Fails</a>
	<a href="#" id="show_all">Show All</a>
</div>

<h1><%=h @exercise.exercise_type.to_s.titleize %> Test Results</h1>

<div id="exercise_attribs">
<%= render :partial => 'exercise_attribs' %>
</div>
<div id="exercise_samples">
<%= render :partial => 'exercise' %>
</div>


<script type="text/javascript">
$(function() {
	$('#show_fails').click(function() {
		$('.pass').hide();
		return false;
	})
	
	$('#show_all').click(function() {
		$('.pass').show();
		$('.fail').show();
		 return false;
	})
	
})
</script>
