<% content_for :header, javascript_include_tag("jquery") %>
<% content_for :header, javascript_include_tag("hosts")  %>
<% exercise_div_id = 'exercise' %>

<h1>Running <%= @exercise.exercise_type.to_s.titleize %> Exercise</h1>

<div id="<%= exercise_div_id %>">
<%= render :partial => 'exercise' %>
</div>


<%= javascript_tag "GroundControl.Hosts.watch_exercise_init('#{exercise_div_id}', #{@exercise.id})" %>
