<h1>Editing stack</h1>

<% form_for(@stack) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @stack %> |
<%= link_to 'Back', stacks_path %>
