  <p>
    <label>Path:</label><br/>
    <%= f.text_field :path %>
  </p>
  <p>
    <label>Assertions:</label><br/>
    <%= f.text_field :assertions %>
  </p>
  <p>
    <label>Variables:</label><br/>
    <%= f.text_field :variables %>
  </p>
  <p>
    <label>Section:</label><br/>
    <%= f.text_field :section %>
  </p>
