<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title>GroundControl - Reactrix Testing</title>
   <link rel="stylesheet" href="/stylesheets/reset-fonts-grids.css" type="text/css">
   <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
   <script src="/javascripts/application.js" type="text/javascript"></script>
   <script src="/javascripts/jquery.js" type="text/javascript"></script>
   <%= @content_for_header %>
</head>
<body>
<div id="doc" class="yui-t7">
  <div id="hd">
    <div class="header">
      
      <div class="yui-g">      
        <h1>GroundControl - Reactrix Automated Testing System</h1>
  	  </div>
  	  
      <div class="appbar <%= @page %>">
        <ul>
          <li id="dashboard"><a href="/">Dashboard</a></li>
          <li id="roles"><a href="/roles">Roles</a></li>
          <li id="hosts"><a href="/hosts">Hosts</a></li>
          <li id="pages"><a href="/pages">Pages</a></li>
        </ul>
  	  </div>  	
  	    
	  </div>
  </div>
  <div id="bd">
    <div class="main">
	    <%= yield %>
	  </div>
  </div>
  <div id="ft">Reactrix Testing Systems</div>
</div>
</body>